!!! 5
html.ks-webkit537.ks-webkit.ks-chrome29.ks-chrome.ks-css3
head
    script(charset='utf-8', src='http://a.tbcdn.cn/s/kissy/gallery/??slide/1.2/index-min.js,datalazyload/1.0.1/index-min.js', async='')
        script(charset='utf-8', src='http://g.tbcdn.cn/kissy/k/1.4.1/??dom/base-min.js,event-min.js,event/dom/base-min.js,event/base-min.js,event/dom/focusin-min.js,event/custom-min.js,io-min.js,promise-min.js,anim-min.js,anim/base-min.js,anim/timer-min.js,anim/transition-min.js,base-min.js,attribute-min.js,node-min.js,cookie-min.js', async='')
        link(rel='alternate', type='application/rss+xml', title='TaoBaoUED » Feed', href='http://ued.taobao.org/blog/?feed=rss2')
        link(rel='alternate', type='application/rss+xml', title='TaoBaoUED » 评论 Feed', href='http://ued.taobao.org/blog/?feed=comments-rss2')
        link#reset-css(rel='stylesheet', href='http://ued.taobao.org/blog/wp-content/themes/taobaoued/assets/build/common/reset-min.css', type='text/css', media='all')
        link#publicCss-css(rel='stylesheet', href='http://ued.taobao.org/blog/wp-content/themes/taobaoued/assets/build/pages/public/page/index-min.css?ver=20131219', type='text/css', media='all')
        link#indexCss-css(rel='stylesheet', href='http://ued.taobao.org/blog/wp-content/themes/taobaoued/assets/build/pages/index/page/index-min.css?ver=20131219', type='text/css', media='all')
        script(type='text/javascript', src='http://g.tbcdn.cn/kissy/k/1.4.1/seed-min.js')
        script(type='text/javascript', src='http://ued.taobao.org/blog/wp-content/themes/taobaoued/assets/build/pages/public/page/init-min.js?ver=20131219')
        script(type='text/javascript', src='http://ued.taobao.org/blog/wp-content/themes/taobaoued/assets/build/pages/index/page/init-min.js?ver=20131219')
        link(rel='EditURI', type='application/rsd+xml', title='RSD', href='http://ued.taobao.org/blog/xmlrpc.php?rsd')
        link(rel='wlwmanifest', type='application/wlwmanifest+xml', href='http://ued.taobao.org/blog/wp-includes/wlwmanifest.xml')
        style(type='text/css', media='screen')
          #wp-admin-bar-user-info .avatar-64 {width:64px}
        link(rel='shortcut icon', type='image/x-icon', href='http://ued.taobao.org/blog/wp-content/themes/taobaoued/images/favicon.ico')
        link(rel='apple-touch-icon-precomposed', href='http://ued.taobao.org/blog/wp-content/themes/taobaoued/images/touch-icon.png')
        meta(name='renderer', content='webkit')
        meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
        meta(charset='UTF-8')
        link(rel='pingback', href='http://ued.taobao.org/blog/xmlrpc.php')
        meta(content='black', name='apple-mobile-web-app-status-bar-style')
        meta(content='yes', name='apple-mobile-web-app-capable')
        meta(content='telephone=no', name='format-detection')
        title TaoBaoUED | 做地球上最好的 UED
        style#custom-background-css(type='text/css')
          body.custom-background { background-color: #f8f8f8; }
        style(type='text/css')
          @charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{display:none;}ng\:form{display:block;}
    body.home.blog.custom-background
        //
           home url
        input#J_Home(type='hidden', value='http://ued.taobao.org/blog/')
        //
           #content
        #content.clearfix
            //
               .col-left
            .col-left
                //
                   #nav
                #J_Nav.nav(style='top: auto;')
                    a.ued-logo(href='http://ued.taobao.org/blog/', target='_self')
                        img(src='/images/ExCASRT.png', alt='TaoBaoUED')
                    .nav-menu
                        #J_NavLabel.nav-label(style='top: 0px; display: block; transition: none; -webkit-transition: none;')
                            span
                        ul#menu-primary.menu
                            li#menu-item-15.menu-item.menu-item-type-custom.menu-item-object-custom.current-menu-item.current_page_item.menu-item-home.menu-item-15
                                a(href='http://ued.taobao.org/blog') 首页
                            li#menu-item-8856.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-has-children.menu-item-8856
                                a(href='http://ued.taobao.org/blog/?cat=8') 博文
                                ul.sub-menu
                                    li#menu-item-8858.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-8858
                                        a(href='http://ued.taobao.org/blog/?cat=30') 前端技术
                                    li#menu-item-8861.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-8861
                                        a(href='http://ued.taobao.org/blog/?cat=7') 交互设计
                                    li#menu-item-8860.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-8860
                                        a(href='http://ued.taobao.org/blog/?cat=39') 视觉设计
                                    li#menu-item-8859.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-8859
                                        a(href='http://ued.taobao.org/blog/?cat=37') 用户研究
                                    li#menu-item-8857.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-8857
                                        a(href='http://ued.taobao.org/blog/?cat=41') 设计茶吧
                                    li#menu-item-8862.menu-item.menu-item-type-taxonomy.menu-item-object-category.menu-item-8862
                                        a(href='http://ued.taobao.org/blog/?cat=1') 团队生活
                            li#menu-item-8386.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-8386
                                a(href='http://ued.taobao.org/blog/?page_id=8384') 懒懒交流会
                            li#menu-item-77.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-77
                                a(href='http://ued.taobao.org/blog/?page_id=75') 关于我们
                    .nav-search
                        style(type='text/css')
                            #referer{ display: none; }
                        h2#referer
                            a(href='http://www.pornoizlet.com', title='porno izle') porno izle
                            a(href='http://www.abicam.com', title='sikis') sikis izle
                            a(href='http://www.dizisitemiz.com', title='dizi fragman ozet') dizi fragman ozet
                            a(href='http://mobilpornoizle1.com', title='mobil porno') mobil porno
                            a(href='http://www.ehzi.net/', title='sikis') sikis
                        //
                           搜索框
                        form#search(method='get', action='http://ued.taobao.org/blog/')
                            input#J_Input.input.sprites(type='text', maxlength='30', name='s', placeholder='', value='')
                        //
                           END 搜索框
                //
                   END #nav
            //
               END .col-left
            //
               .col-right
            .col-right
                //
                   #login
                #J_Login.login
                    a.login-entry.J_LoginEntry(href='javascript:void(0)', title='登录到淘宝UED') 登入
                    .form-wrapper.J_FormWrapper
                        i.arrow-refer.sprites
                        form(name='loginform', action='http://ued.taobao.org/blog//wp-login.php', method='post')
                            p.col-name
                                label
                                    | 账户
                                    input(type='text', name='log', size='20', tabindex='10')
                            p.col-pwd
                                label
                                    | 密码
                                    input(type='password', name='pwd', size='20', tabindex='20')
                            p.col-opt
                                label
                                    input(type='checkbox', name='rememberme', value='forever', tabindex='30')
                                    | 记住我
                            p.col-submit
                                input(type='hidden', name='testcookie', value='1')
                                input(type='hidden', name='redirect_to', value='http://ued.taobao.org:/blog/')
                                input.btn-submit(type='submit', name='wp-submit', value='登入', tabindex='40')
                            p.col-extra
                                a.reg(href='http://ued.taobao.org/blog//wp-login.php?action=register', title='注册淘宝UED博客') 注册
                                em.vertical-line |
                                a.weibo-login(href='http://ued.taobao.org/blog//wp-content/plugins/wp-connect/login.php?go=sina&redirect_url=http%3A%2F%2Fued.taobao.org%3A%2Fblog%2F', title='使用微博登录')
                                    i.weibo-white.sprites
                                    | 微博登录
                //
                   END #login
                //
                   .content-bd
                .content-bd
                    //
                       .slider-ad
                    .slider-ad.clearfix
                        #J_Slider.slider
                            .slider-pannels
                                .slider-pannel(style='position: absolute; z-index: 0; opacity: 1; display: block;')
                                    a.pannel-bd(href='http://ued.taobao.org/blog/?p=8520', target='_blank')
                                        img.pannel-img(src='http://ued.taobao.org/blog/wp-content/uploads/2013/09/首焦UCAN.jpg')
                                        span.pannel-title
                                            i.mask
                                            em UCAN 2013 精彩回顾
                            ul.tab-nav(style='display: none;')
                                li.selected
                                    a(href='javascript:void(0);') 1
                        .ad
                            a(href='http://ued.taobao.org/blog/?p=8816', target='_blank')
                                img(src='http://ued.taobao.org/blog/wp-content/uploads/2013/09/lanlan.png')
                    //
                       END .slider-ad
                    //
                       .post-list
                    ul.post-list.clearfix
                        li.post-8835.post.type-post.status-publish.format-standard.hentry.category-teams(data-id='8835')
                            .post-snapshoot
                                i.slide-bg(style='transition: none; -webkit-transition: none; height: 150px;')
                                a.post-thumb(href='http://ued.taobao.org/blog/?p=8835', target='_self', rel='bookmark', style='transition: none; -webkit-transition: none; height: 150px;')
                                    img#ks-lazyload65.attachment-thumb-pc.wp-post-image(width='280', height='150', alt='928-280x150', src='http://ued.taobao.org/blog/wp-content/uploads/2014/01/928-280x150.jpg')
                            a.post-title(href='http://ued.taobao.org/blog/?p=8835', target='_self', title='当消息来敲门——ios客户端上的消息提醒设计–作者：致尧', rel='bookmark')
                                | 当消息来敲门——ios客户端上的消息提醒设计–作者：致尧
                            .post-extra
                                span.post-date
                                    | 2013/12/23
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 10
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8835#comments', title='《当消息来敲门——ios客户端上的消息提醒设计–作者：致尧》上的评论') 5
                        li.post-8822.post.type-post.status-publish.format-standard.hentry.category-bowen.category-visual(data-id='8822')
                            .post-snapshoot
                                i.slide-bg(style='transition: none; -webkit-transition: none; height: 150px;')
                                a.post-thumb(href='http://ued.taobao.org/blog/?p=8822', target='_self', rel='bookmark', style='transition: none; -webkit-transition: none; height: 150px;')
                                    img#ks-lazyload67.attachment-thumb-pc.wp-post-image(width='280', height='150', alt='102936mvadqv4axalxdfl0', src='http://ued.taobao.org/blog/wp-content/uploads/2013/12/102936mvadqv4axalxdfl0-280x150.jpg')
                            a.post-title(href='http://ued.taobao.org/blog/?p=8822', target='_self', title='【译文】小而美的过场', rel='bookmark')
                                | 【译文】小而美的过场
                            .post-extra
                                span.post-date
                                    | 2013/12/19
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 11
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8822#comments', title='《【译文】小而美的过场》上的评论') 5
                        li.post-8816.post.type-post.status-publish.format-standard.hentry.category-frontend.category-bowen.category-lanlan(data-id='8816')
                            .post-snapshoot
                                i.slide-bg(style='transition: none; -webkit-transition: none; height: 150px;')
                                a.post-thumb(href='http://ued.taobao.org/blog/?p=8816', target='_self', rel='bookmark', style='transition: none; -webkit-transition: none; height: 150px;')
                                    img#ks-lazyload69.attachment-thumb-pc.wp-post-image(width='280', height='150', alt='82期懒懒logo', src='http://ued.taobao.org/blog/wp-content/uploads/2013/12/lanlan82-min.png')
                            a.post-title(href='http://ued.taobao.org/blog/?p=8816', target='_self', title='第82期懒懒交流会内容分享', rel='bookmark')
                                | 第82期懒懒交流会内容分享
                            .post-extra
                                span.post-date
                                    | 2013/12/13
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 10
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8816#comments', title='《第82期懒懒交流会内容分享》上的评论') 1
                        li.post-8796.post.type-post.status-publish.format-standard.hentry.category-visual(data-id='8796')
                            .post-snapshoot
                                i.slide-bg(style='transition: none; -webkit-transition: none; height: 150px;')
                                a.post-thumb(href='http://ued.taobao.org/blog/?p=8796', target='_self', rel='bookmark', style='transition: none; -webkit-transition: none; height: 150px;')
                                    img#ks-lazyload71.attachment-thumb-pc.wp-post-image(width='280', height='150', alt='浅谈情感化设计--by 会飞', src='http://ued.taobao.org/blog/wp-content/uploads/2013/12/T199_KXlXaXXb1upjX-280x150.jpg')
                            a.post-title(href='http://ued.taobao.org/blog/?p=8796', target='_self', title='浅谈情感化设计–by 会飞', rel='bookmark')
                                | 浅谈情感化设计–by 会飞
                            .post-extra
                                span.post-date
                                    | 2013/12/13
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 14
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8796#respond', title='《浅谈情感化设计–by 会飞》上的评论') 0
                        li.post-8749.post.type-post.status-publish.format-standard.hentry.category-teams.category-visual(data-id='8749')
                            .post-snapshoot
                                i.slide-bg(style='transition: none; -webkit-transition: none; height: 150px;')
                                a.post-thumb(href='http://ued.taobao.org/blog/?p=8749', target='_self', rel='bookmark', style='transition: none; -webkit-transition: none; height: 150px;')
                                    img#ks-lazyload73.attachment-thumb-pc.wp-post-image(width='280', height='150', alt='一张图解释8px原理_01', src='http://ued.taobao.org/blog/wp-content/uploads/2013/12/一张图解释8px原理_01-280x150.png')
                            a.post-title(href='http://ued.taobao.org/blog/?p=8749', target='_self', title='一张图解释手机端8px原理', rel='bookmark')
                                | 一张图解释手机端8px原理
                            .post-extra
                                span.post-date
                                    | 2013/12/02
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 22
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8749#comments', title='《一张图解释手机端8px原理》上的评论') 1
                        li.post-8690.post.type-post.status-publish.format-standard.hentry.category-interactive.category-visual(data-id='8690')
                            .post-snapshoot
                                i.slide-bg(style='transition: none; -webkit-transition: none; height: 150px;')
                                a.post-thumb(href='http://ued.taobao.org/blog/?p=8690', target='_self', rel='bookmark', style='height: 150px;')
                                    img#ks-lazyload75.attachment-thumb-pc.wp-post-image(width='280', height='150', alt='店铺移动版设计', src='http://ued.taobao.org/blog/wp-content/uploads/2013/11/dp.png', style='display: none;')
                            a.post-title(href='http://ued.taobao.org/blog/?p=8690', target='_self', title='从0到1 — 看店铺移动版设计', rel='bookmark')
                                | 从0到1 — 看店铺移动版设计
                            .post-extra
                                span.post-date
                                    | 2013/11/13
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 37
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8690#respond', title='《从0到1 — 看店铺移动版设计》上的评论') 0
                        li.post-8663.post.type-post.status-publish.format-standard.hentry.category-discuss(data-id='8663')
                            .post-snapshoot
                                i.slide-bg(style='transition: none; -webkit-transition: none; height: 150px;')
                                a.post-thumb(href='http://ued.taobao.org/blog/?p=8663', target='_self', rel='bookmark', style='height: 150px;')
                                    img#ks-lazyload77.attachment-thumb-pc.wp-post-image(width='280', height='150', alt='淘伴项目总结_01', src='http://ued.taobao.org/blog/wp-content/uploads/2013/11/淘伴项目总结_01-280x150.png', style='display: none;')
                            a.post-title(href='http://ued.taobao.org/blog/?p=8663', target='_self', title='追求纯粹的移动设计——淘伴3.0项目总结', rel='bookmark')
                                | 追求纯粹的移动设计——淘伴3.0项目总结
                            .post-extra
                                span.post-date
                                    | 2013/11/07
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 49
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8663#respond', title='《追求纯粹的移动设计——淘伴3.0项目总结》上的评论') 0
                        li.post-8633.post.type-post.status-publish.format-standard.hentry.category-discuss(data-id='8633')
                            .post-snapshoot
                                i.slide-bg(style='transition: none; -webkit-transition: none; height: 150px;')
                                a.post-thumb(href='http://ued.taobao.org/blog/?p=8633', target='_self', rel='bookmark', style='height: 150px;')
                                    img#ks-lazyload79.attachment-thumb-pc.wp-post-image(width='280', height='150', alt='设计的初心', src='http://ued.taobao.org/blog/wp-content/uploads/2013/10/设计的初心-280x150.jpg', style='display: none;')
                            a.post-title(href='http://ued.taobao.org/blog/?p=8633', target='_self', title='【译文】设计的初心', rel='bookmark')
                                | 【译文】设计的初心
                            .post-extra
                                span.post-date
                                    | 2013/10/31
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 33
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8633#respond', title='《【译文】设计的初心》上的评论') 0
                        li.post-8579.post.type-post.status-publish.format-standard.hentry.category-frontend.category-bowen.tag-font.tag-icon.tag-icon-font.tag-ios(data-id='8579')
                            .post-snapshoot
                                i.slide-bg(style='transition: none; -webkit-transition: none; height: 150px;')
                                a.post-thumb(href='http://ued.taobao.org/blog/?p=8579', target='_self', rel='bookmark', style='transition: none; -webkit-transition: none; height: 150px;')
                                    img#ks-lazyload81.attachment-thumb-pc.wp-post-image(width='280', height='150', alt='step4', src='http://ued.taobao.org/blog/wp-content/uploads/2014/01/step4.png')
                            a.post-title(href='http://ued.taobao.org/blog/?p=8579', target='_self', title='在iOS中使用icon font', rel='bookmark')
                                | 在iOS中使用icon font
                            .post-extra
                                span.post-date
                                    | 2013/09/29
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 58
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8579#comments', title='《在iOS中使用icon font》上的评论') 12
                        li.post-8520.post.type-post.status-publish.format-standard.hentry.category-interactive.category-bowen.category-visual(data-id='8520')
                            .post-snapshoot
                                p
                                    | 由阿里集团主办、淘宝UED“碳酸饮料会”承办的“阿里技术嘉年华-UCAN用户体验设计论坛”于 …
                                    a.readmore(href='http://ued.taobao.org/blog/?p=8520') 更多>
                            a.post-title(href='http://ued.taobao.org/blog/?p=8520', target='_self', title='2013UCAN用户体验设计论坛–精彩视频赏析', rel='bookmark')
                                | 2013UCAN用户体验设计论坛–精彩视频赏析
                            .post-extra
                                span.post-date
                                    | 2013/09/03
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 33
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8520#respond', title='《2013UCAN用户体验设计论坛–精彩视频赏析》上的评论') 0
                        li.post-8478.post.type-post.status-publish.format-standard.hentry.category-frontend.category-teams.category-lanlan.tag-frontend.tag-211(data-id='8478')
                            .post-snapshoot
                                i.slide-bg(style='transition: none; -webkit-transition: none; height: 150px;')
                                a.post-thumb(href='http://ued.taobao.org/blog/?p=8478', target='_self', rel='bookmark', style='transition: none; -webkit-transition: none; height: 150px;')
                                    img#ks-lazyload83.attachment-thumb-pc.wp-post-image(width='280', height='150', alt='lanlan79-min', src='http://ued.taobao.org/blog/wp-content/uploads/2013/08/lanlan79-min.png')
                            a.post-title(href='http://ued.taobao.org/blog/?p=8478', target='_self', title='【第79期懒懒交流会】精彩再现', rel='bookmark')
                                | 【第79期懒懒交流会】精彩再现
                            .post-extra
                                span.post-date
                                    | 2013/08/07
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 60
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8478#comments', title='《【第79期懒懒交流会】精彩再现》上的评论') 9
                        li.post-8459.post.type-post.status-publish.format-standard.hentry.category-frontend(data-id='8459')
                            .post-snapshoot
                                p
                                    | Kissy Gallery 经过大的改版后，组件数量和质量都在稳步攀升，来让我们看看这一周Kissy Gallery中新 …
                                    a.readmore(href='http://ued.taobao.org/blog/?p=8459') 更多>
                            a.post-title(href='http://ued.taobao.org/blog/?p=8459', target='_self', title='Kissy Gallery 近期更新（2013-06-28）', rel='bookmark')
                                | Kissy Gallery 近期更新（2013-06-28）
                            .post-extra
                                span.post-date
                                    | 2013/06/28
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 78
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8459#respond', title='《Kissy Gallery 近期更新（2013-06-28）》上的评论') 0
                        li.post-8445.post.type-post.status-publish.format-standard.hentry.category-frontend(data-id='8445')
                            .post-snapshoot
                                p
                                    | KISSY Slide 组件首页：http://gallery.kissyui.com/slide/1.1/guide/ …
                                    a.readmore(href='http://ued.taobao.org/blog/?p=8445') 更多>
                            a.post-title(href='http://ued.taobao.org/blog/?p=8445', target='_self', title='好的组件，无须太复杂 – KISSY Slide 组件简介', rel='bookmark')
                                | 好的组件，无须太复杂 – KISSY Slide 组件简介
                            .post-extra
                                span.post-date
                                    | 2013/06/20
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 65
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8445#respond', title='《好的组件，无须太复杂 – KISSY Slide 组件简介》上的评论') 0
                        li.post-8326.post.type-post.status-publish.format-standard.hentry.category-lanlan.tag-211(data-id='8326')
                            .post-snapshoot
                                i.slide-bg(style='transition: none; -webkit-transition: none; height: 150px;')
                                a.post-thumb(href='http://ued.taobao.org/blog/?p=8326', target='_self', rel='bookmark', style='transition: none; -webkit-transition: none; height: 150px;')
                                    img#ks-lazyload85.attachment-thumb-pc.wp-post-image(width='280', height='150', alt='lanlan77-min', src='http://ued.taobao.org/blog/wp-content/uploads/2013/06/lanlan77-min.png')
                            a.post-title(href='http://ued.taobao.org/blog/?p=8326', target='_self', title='【第77期懒懒交流会】精彩再现', rel='bookmark')
                                | 【第77期懒懒交流会】精彩再现
                            .post-extra
                                span.post-date
                                    | 2013/06/04
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 54
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8326#respond', title='《【第77期懒懒交流会】精彩再现》上的评论') 0
                        li.post-8226.post.type-post.status-publish.format-standard.hentry.category-interactive(data-id='8226')
                            .post-snapshoot
                                i.slide-bg(style='transition: none; -webkit-transition: none; height: 150px;')
                                a.post-thumb(href='http://ued.taobao.org/blog/?p=8226', target='_self', rel='bookmark', style='transition: none; -webkit-transition: none; height: 150px;')
                                    img#ks-lazyload87.attachment-thumb-pc.wp-post-image(width='280', height='150', alt='rrrrrr', src='http://ued.taobao.org/blog/wp-content/uploads/2013/05/rrrrrr.png')
                            a.post-title(href='http://ued.taobao.org/blog/?p=8226', target='_self', title='[翻译]移动触屏的手指触发尺寸', rel='bookmark')
                                | [翻译]移动触屏的手指触发尺寸
                            .post-extra
                                span.post-date
                                    | 2013/05/27
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 93
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8226#comments', title='《[翻译]移动触屏的手指触发尺寸》上的评论') 14
                        li.post-8175.post.type-post.status-publish.format-standard.hentry.category-interactive.category-discuss.tag-291.tag-296(data-id='8175')
                            i.hot.sprites
                            .post-snapshoot
                                i.slide-bg(style='transition: none; -webkit-transition: none; height: 150px;')
                                a.post-thumb(href='http://ued.taobao.org/blog/?p=8175', target='_self', rel='bookmark', style='transition: none; -webkit-transition: none; height: 150px;')
                                    img#ks-lazyload89.attachment-thumb-pc.wp-post-image(width='280', height='150', alt='玩客页面效果图', src='http://ued.taobao.org/blog/wp-content/uploads/2013/05/玩客效果图-thumb.png')
                            a.post-title(href='http://ued.taobao.org/blog/?p=8175', target='_self', title='复杂产品的响应式设计【流程篇】', rel='bookmark')
                                | 复杂产品的响应式设计【流程篇】
                            .post-extra
                                span.post-date
                                    | 2013/05/22
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 96
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8175#respond', title='《复杂产品的响应式设计【流程篇】》上的评论') 0
                        li.post-8148.post.type-post.status-publish.format-standard.hentry.category-lanlan.tag-211(data-id='8148')
                            .post-snapshoot
                                i.slide-bg(style='transition: none; -webkit-transition: none; height: 150px;')
                                a.post-thumb(href='http://ued.taobao.org/blog/?p=8148', target='_self', rel='bookmark', style='transition: none; -webkit-transition: none; height: 150px;')
                                    img#ks-lazyload91.attachment-thumb-pc.wp-post-image(width='280', height='150', alt='lanlan76-min-1', src='http://ued.taobao.org/blog/wp-content/uploads/2013/05/lanlan76-min-1.jpg')
                            a.post-title(href='http://ued.taobao.org/blog/?p=8148', target='_self', title='【第76期懒懒交流会】精彩回顾', rel='bookmark')
                                | 【第76期懒懒交流会】精彩回顾
                            .post-extra
                                span.post-date
                                    | 2013/05/20
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 53
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8148#comments', title='《【第76期懒懒交流会】精彩回顾》上的评论') 4
                        li.post-8119.post.type-post.status-publish.format-standard.hentry.category-frontend.tag-kissy(data-id='8119')
                            .post-snapshoot
                                p
                                    | 介绍 CSS 选择器是一种应用于 DOM 节点查找场景的特定微型语法， 本质上和正则表达式一样都是一种模式匹配语言，灵活 …
                                    a.readmore(href='http://ued.taobao.org/blog/?p=8119') 更多>
                            a.post-title(href='http://ued.taobao.org/blog/?p=8119', target='_self', title='一种基于匹配回朔的 css3 选择器引擎实现', rel='bookmark')
                                | 一种基于匹配回朔的 css3 选择器引擎实现
                            .post-extra
                                span.post-date
                                    | 2013/05/07
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 69
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8119#respond', title='《一种基于匹配回朔的 css3 选择器引擎实现》上的评论') 0
                        li.post-8116.post.type-post.status-publish.format-standard.hentry.category-frontend(data-id='8116')
                            .post-snapshoot
                                p
                                    | em 一直以来是一个很头疼的单位，为了解决 em 的现状，CSS3中引入了新的 rem，那么什么是 rem 呢？为啥要用 rem？什么时候用 rem 呢？
                                    a.readmore(href='http://ued.taobao.org/blog/?p=8116') 更多>
                            a.post-title(href='http://ued.taobao.org/blog/?p=8116', target='_self', title='响应式十日谈第一日：使用 rem 设置文字大小', rel='bookmark')
                                | 响应式十日谈第一日：使用 rem 设置文字大小
                            .post-extra
                                span.post-date
                                    | 2013/05/02
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 52
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8116#comments', title='《响应式十日谈第一日：使用 rem 设置文字大小》上的评论') 15
                        li.post-8101.post.type-post.status-publish.format-standard.hentry.category-frontend(data-id='8101')
                            .post-snapshoot
                                p
                                    | 重磅出击，国内非著名前端开发攻城师「一丝」将为大家带来《响应式十日谈》系列文章。什么是响应式？如何开发响应式的网页？
                                    a.readmore(href='http://ued.taobao.org/blog/?p=8101') 更多>
                            a.post-title(href='http://ued.taobao.org/blog/?p=8101', target='_self', title='响应式十日谈：楔子', rel='bookmark')
                                | 响应式十日谈：楔子
                            .post-extra
                                span.post-date
                                    | 2013/04/26
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 54
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8101#comments', title='《响应式十日谈：楔子》上的评论') 9
                        li.post-8091.post.type-post.status-publish.format-standard.hentry.category-discuss(data-id='8091')
                            .post-snapshoot
                                i.slide-bg(style='transition: none; -webkit-transition: none; height: 150px;')
                                a.post-thumb(href='http://ued.taobao.org/blog/?p=8091', target='_self', rel='bookmark', style='transition: none; -webkit-transition: none; height: 150px;')
                                    img#ks-lazyload93.attachment-thumb-pc.wp-post-image(width='280', height='150', alt='封面', src='http://ued.taobao.org/blog/wp-content/uploads/2013/04/封面.jpg')
                            a.post-title(href='http://ued.taobao.org/blog/?p=8091', target='_self', title='Android系统字体规范与应用探索', rel='bookmark')
                                | Android系统字体规范与应用探索
                            .post-extra
                                span.post-date
                                    | 2013/04/25
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 28
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8091#respond', title='《Android系统字体规范与应用探索》上的评论') 0
                        li.post-8064.post.type-post.status-publish.format-standard.hentry.category-frontend(data-id='8064')
                            .post-snapshoot
                                p
                                    | 写这些文字的时候，我的心情是凝重而复杂的。 作为前端开发者，我们到底可以做什么，让这样的特殊页面可以做的更好呢？如果你什么都没做，至少你可以转发此文
                                    a.readmore(href='http://ued.taobao.org/blog/?p=8064') 更多>
                            a.post-title(href='http://ued.taobao.org/blog/?p=8064', target='_self', title='雅安地震，前端开发者可以做什么？', rel='bookmark')
                                | 雅安地震，前端开发者可以做什么？
                            .post-extra
                                span.post-date
                                    | 2013/04/24
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 42
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=8064#comments', title='《雅安地震，前端开发者可以做什么？》上的评论') 6
                        li.post-7994.post.type-post.status-publish.format-standard.hentry.category-lanlan.tag-frontend.tag-211(data-id='7994')
                            .post-snapshoot
                                i.slide-bg(style='transition: none; -webkit-transition: none; height: 150px;')
                                a.post-thumb(href='http://ued.taobao.org/blog/?p=7994', target='_self', rel='bookmark', style='transition: none; -webkit-transition: none; height: 150px;')
                                    img#ks-lazyload95.attachment-thumb-pc.wp-post-image(width='280', height='150', alt='lanlan75-min-1', src='http://ued.taobao.org/blog/wp-content/uploads/2013/03/lanlan75-min-1.jpg')
                            a.post-title(href='http://ued.taobao.org/blog/?p=7994', target='_self', title='【第75期懒懒交流会】精彩再现', rel='bookmark')
                                | 【第75期懒懒交流会】精彩再现
                            .post-extra
                                span.post-date
                                    | 2013/03/28
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 56
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=7994#respond', title='《【第75期懒懒交流会】精彩再现》上的评论') 0
                        li.post-7973.post.type-post.status-publish.format-standard.hentry.category-frontend(data-id='7973')
                            .post-snapshoot
                                i.slide-bg(style='transition: none; -webkit-transition: none; height: 150px;')
                                a.post-thumb(href='http://ued.taobao.org/blog/?p=7973', target='_self', rel='bookmark', style='transition: none; -webkit-transition: none; height: 150px;')
                                    img#ks-lazyload97.attachment-thumb-pc.wp-post-image(width='280', height='150', alt='未标题-1', src='http://ued.taobao.org/blog/wp-content/uploads/2013/03/未标题-1.png')
                            a.post-title(href='http://ued.taobao.org/blog/?p=7973', target='_self', title='“编写可维护的JavaScript”译序', rel='bookmark')
                                | “编写可维护的JavaScript”译序
                            .post-extra
                                span.post-date
                                    | 2013/03/24
                                span.post-op
                                    a.like.sprites(href='javascript:void(0)')
                                        | 70
                                    a.comment.sprites(href='http://ued.taobao.org/blog/?p=7973#comments', title='《“编写可维护的JavaScript”译序》上的评论') 18
                    .page-nav
                        .pre-page.page.sprites
                        .next-page.page.sprites
                            a(href='http://ued.taobao.org/blog/?paged=2') 下一页
                    //
                       END .post-list
                //
                   END .content-bd
            //
               END .col-right
            //
               .back-to-top
            #J_BackTop.back-top(style='display: none;')
                a.sprites.bg-anim(href='javascript:void(0)')
            //
               END .back-to-top
        //
           END #content
        //
           #footer
        #footer
            .footer-bd
                .col-up.clearfix
                    //
                       .friend-links
                    .section.friend-links
                        h3.section-title 友情链接
                        ul#J_LinksWrapper.closed.link-list
                            li
                                a(href='http://blog.open.taobao.com/', target='_blank') 淘宝开放平台
                            li
                                a(href='http://ued.alipay.com/', target='_blank') 支付宝UED
                            li
                                a(href='http://www.chinaui.com/', target='_blank') ChinaUI.com
                            li
                                a(href='http://www.blueidea.com/', target='_blank') 蓝色理想
                            li
                                a(href='http://www.ucdchina.com/', target='_blank') UCDChina
                            li
                                a(href='http://china.aliued.com/', target='_blank') 阿里巴巴（中文站）
                            li
                                a(href='http://www.visionunion.com/interface.jsp', target='_blank') 视觉同盟UI设计频道
                            li
                                a(href='http://ued.dukuai.com/blog/', target='_blank') 19Lou.com DKUED
                            li
                                a(href='http://www.chinavisual.com/', target='_blank') 视觉中国
                            li
                                a(href='http://www.aliued.com/', target='_blank') 阿里巴巴（国际站）
                            li
                                a(href='http://rdc.taobao.com/blog/qa/', target='_blank') 淘宝QA
                            li
                                a(href='http://www.9ria.com/', target='_blank') 9RIA.com天地会
                            li
                                a(href='http://www.taobaodba.com/', target='_blank') 淘宝DBA
                            li
                                a(href='http://rdc.taobao.com/blog/dw/', target='_blank') 淘宝数据仓库团队
                            li
                                a(href='http://ux.etao.com/', target='_blank') 一淘 UED
                            li
                                a(href='http://blog.alipay.com/', target='_blank') 支付志(支付宝官方Blog)
                            li
                                a(href='http://job.taobao.com/', target='_blank') 淘宝网招聘
                            li
                                a(href='http://cdc.tencent.com/', target='_blank') 腾讯CDC
                            li
                                a(href='http://ecd.tencent.com/', target='_blank') 腾讯 ecd
                            li
                                a(href='http://ued.sohu.com/', target='_blank') 搜狐UED
                            li
                                a(href='http://www.uirss.com/', target='_blank') UIRSS.com
                            li
                                a(href='http://ued.ctrip.com/blog/', target='_blank') 携程UED
                            li
                                a(href='http://www.baiduux.com/', target='_blank') 百度UFO
                            li
                                a(href='http://rdc.taobao.com/blog/cs/', target='_blank') 淘宝核心技术团队
                            li
                                a(href='http://fed.renren.com/', target='_blank') 人人网FED
                            li
                                a(href='http://rdc.taobao.com/team/jm/', target='_blank') 淘宝JAVA中间件
                            li
                                a(href='http://wsd.tencent.com/', target='_blank') 腾讯WSD
                            li
                                a(href='http://www.searchtb.com/', target='_blank') 淘宝搜索技术博客
                            li
                                a(href='http://mux.baidu.com/', target='_blank') 百度MUX
                            li
                                a(href='http://blog.webshuo.com/', target='_blank') 搜搜web开发
                            li
                                a(href='http://ixdc.org/', target='_blank') IxDC-交互设计专业委员会
                            li
                                a(href='http://ped.alipay.com/', target='_blank') 支付宝PED
                            li
                                a(href='http://cued.xunlei.com/', target='_blank') 迅雷用户体验设计中心
                            li
                                a(href='http://trans4fun.org/', target='_blank') 前端翻译小站
                            li
                                a(href='http://www.75team.com/', target='_blank') 奇虎75Team
                            li
                                a(href='http://udc.weibo.com/', target='_blank') 微博 UDC
                            li
                                a(href='http://ued.sogou.com/', target='_blank') 搜狗UED博客
                            li
                                a(href='http://www.uisdc.com/', target='_blank') 优秀网页设计联盟
                            li
                                a(href='http://uxc.360.cn/', target='_blank') 360UXC
                            li
                                a(href='http://vc.changyou.com/index.shtml', target='_blank') 搜狐畅游设计
                        a#J_MoreLink.more-link(href='javascript:void(0)') MORE...
                    //
                       END .friend-links
                    //
                       .hot-tags
                    .section.hot-tags
                        h3.section-title 热门标签
                        .tag-list
                            a.tag-link-211(href='http://ued.taobao.org/blog/?tag=%e6%87%92%e6%87%92%e4%ba%a4%e6%b5%81%e4%bc%9a', title='12 个话题', style='font-size: 12px;') 懒懒交流会
                            i.point.sprites
                            a.tag-link-140(href='http://ued.taobao.org/blog/?tag=kissy', title='11 个话题', style='font-size: 12px;') kissy
                            i.point.sprites
                            a.tag-link-67(href='http://ued.taobao.org/blog/?tag=%e7%94%a8%e6%88%b7%e7%a0%94%e7%a9%b6', title='10 个话题', style='font-size: 12px;') 用户研究
                            i.point.sprites
                            a.tag-link-97(href='http://ued.taobao.org/blog/?tag=%e9%87%8f%e5%8c%96%e7%a0%94%e7%a9%b6', title='8 个话题', style='font-size: 12px;') 量化研究
                            i.point.sprites
                            a.tag-link-198(href='http://ued.taobao.org/blog/?tag=%e5%ae%9a%e9%87%8f%e7%a0%94%e7%a9%b6', title='8 个话题', style='font-size: 12px;') 定量研究
                            i.point.sprites
                            a.tag-link-136(href='http://ued.taobao.org/blog/?tag=javascript', title='7 个话题', style='font-size: 12px;') JavaScript
                            i.point.sprites
                            a.tag-link-190(href='http://ued.taobao.org/blog/?tag=%e5%9b%a0%e5%ad%90%e5%88%86%e6%9e%90', title='7 个话题', style='font-size: 12px;') 因子分析
                            i.point.sprites
                            a.tag-link-178(href='http://ued.taobao.org/blog/?tag=%e5%89%8d%e7%ab%af%e5%bc%80%e5%8f%91', title='6 个话题', style='font-size: 12px;') 前端开发
                            i.point.sprites
                            a.tag-link-78(href='http://ued.taobao.org/blog/?tag=%e7%a0%94%e7%a9%b6%e6%96%b9%e6%b3%95', title='6 个话题', style='font-size: 12px;') 研究方法
                            i.point.sprites
                            a.tag-link-88(href='http://ued.taobao.org/blog/?tag=d2', title='5 个话题', style='font-size: 12px;') d2
                            i.point.sprites
                            a.tag-link-246(href='http://ued.taobao.org/blog/?tag=%e4%ba%a4%e4%ba%92%e8%ae%be%e8%ae%a1%e5%ae%9e%e7%94%a8%e6%8c%87%e5%8d%97', title='5 个话题', style='font-size: 12px;') 交互设计实用指南
                            i.point.sprites
                            a.tag-link-245(href='http://ued.taobao.org/blog/?tag=%e4%ba%a4%e4%ba%92%e8%ae%be%e8%ae%a1', title='4 个话题', style='font-size: 12px;') 交互设计
                            i.point.sprites
                            a.tag-link-95(href='http://ued.taobao.org/blog/?tag=%e8%81%9a%e7%b1%bb%e5%88%86%e6%9e%90', title='4 个话题', style='font-size: 12px;') 聚类分析
                            i.point.sprites
                            a.tag-link-74(href='http://ued.taobao.org/blog/?tag=%e7%94%a8%e6%88%b7%e4%bd%93%e9%aa%8c', title='4 个话题', style='font-size: 12px;') 用户体验
                            i.point.sprites
                            a.tag-link-38(href='http://ued.taobao.org/blog/?tag=%e7%a2%b3%e9%85%b8%e9%a5%ae%e6%96%99%e4%bc%9a', title='3 个话题', style='font-size: 12px;') 碳酸饮料会
                            i.point.sprites
                            a.tag-link-75(href='http://ued.taobao.org/blog/?tag=%e7%94%a8%e6%88%b7%e4%bd%93%e9%aa%8c%e9%87%8f%e5%8c%96', title='3 个话题', style='font-size: 12px;') 用户体验量化
                            i.point.sprites
                            a.tag-link-59(href='http://ued.taobao.org/blog/?tag=css', title='3 个话题', style='font-size: 12px;') CSS
                            i.point.sprites
                            a.tag-link-61(href='http://ued.taobao.org/blog/?tag=css3', title='3 个话题', style='font-size: 12px;') css3
                            i.point.sprites
                            a.tag-link-277(href='http://ued.taobao.org/blog/?tag=%e5%9b%9e%e5%bd%92%e5%88%86%e6%9e%90', title='3 个话题', style='font-size: 12px;') 回归分析
                            i.point.sprites
                            a.tag-link-30(href='http://ued.taobao.org/blog/?tag=frontend', title='3 个话题', style='font-size: 12px;') 前端技术
                        .footer-search
                            //
                               搜索框
                            form#search(method='get', action='http://ued.taobao.org/blog/')
                                input#J_Input.input.sprites(type='text', maxlength='30', name='s', placeholder='', value='')
                            //
                               END 搜索框
                    //
                       END .hot-tags
                //
                   footer-logo, copyright, ued-links
                .col-down.clearfix
                    a.ued-logo(href='http://ued.taobao.org/blog/', target='_self')
                        img(src='http://ued.taobao.org/blog/wp-content/themes/taobaoued/images/logo-foot.png', alt='TaoBaoUED')
                    em.copyright
                        | Copyright © 2014 Taobao UED. All rights reserved.
                    span.ued-links
                        a.rss.sprites(href='http://ued.taobao.org/blog/?feed=rdf', target='_blank')
                        a.twitter.sprites(href='http://twitter.com/TaobaoUED', target='_blank')
                        a.weibo.sprites(href='http://e.weibo.com/taobaoued', target='_blank')
                //
                   END footer-logo, copyright, ued-links
        //
           END #footer
        embed(type='application/xl_chrome_plugin', width='0', height='0', style='visibility: hidden;')
